<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Lista de Productos</title>
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="/js/index.js"></script>
  </head>
  <body>
    <h1>Lista de Productos en Tiempo Real</h1>
    <ul id="productList">
      {{#each products}}
        <li data-product-id="{{this.id}}">
          <strong>{{this.title}}</strong> - Precio: ${{this.price}}
        </li>
      {{/each}}
    </ul>
  </body>
</html>